body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-size: 38px;
  text-align: center;
}

select {
  display: block;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  padding: 8px;
}

.container {
  max-width: 600px;
  margin: 54px auto;
  background: white;
  padding: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.6;
}

.time {
  font-size: 46px;
  font-weight: bold;
}

.time small {
  font-size: 20px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
